@font-face {
    font-family: "ssurroundAir";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/ssurroundAir/ssurroundAir.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/ssurroundAir/ssurroundAir.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/ssurroundAir/ssurroundAir.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/ssurroundAir/ssurroundAir.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/ssurroundAir/ssurroundAir.ttf") format("truetype");
    font-display: swap;
} 
.ssurroundAir {
    font-family: "ssurroundAir";
}